<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link href="https://fonts.googleapis.com/css2?family=Baskervville&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/shop">Shop</a></li>
            <li><a href="/tickets">Ticket</a></li>
            <li><a href="/stats">Stats</a></li>
            <li><a href="/example">EJS Example</a></li>
        </ul>
    </nav>