<%- include('partials/header.ejs'); %>
    <h1>
        <%= title %>
    </h1>
    <p>Welcome to
        <%= title %>
    </p>
    <a href="/register" class="btn">Create an Account</a>

    <div class="link-section">
        <a href="/users">See all users</a>
        <a href="/users/greug9g">See random user</a>
    </div>
    <%- include('partials/footer.ejs'); %>